@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Outfit:wght@100..900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: "Barlow Semi Condensed", sans-serif;
    background-color: hsl(210, 46%, 95%);
}

.page{
    width: 75%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: 1fr 4fr; */
    gap: 30px;
}

.card{
    border: 5px solid black;
    border-radius: 10px;
    /* color: hsl(0, 0%, 100%); */
    padding: 40px 40px;
    box-shadow: ;
}

.icon{
    position: absolute;
    top: 5%;
    left: 35%;
    z-index: -1;
}

.card .photo{
    border-radius: 50%;
    width: 40px;
    border: 2px solid rgba(255, 255, 255, 1);
}

.card .user-info{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    opacity: 0.7;
}

h2{
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
    margin: 20px 0;
}

p{
    font-size: 14px;
    line-height: 20px;
    opacity: 0.7;
}
